<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>s1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signinservlet</servlet-name>
        <servlet-class>Signinservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signupservlet</servlet-name>
        <servlet-class>Signupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploadservlet</servlet-name>
        <servlet-class>Uploadservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descservlet</servlet-name>
        <servlet-class>Descservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcartservlet</servlet-name>
        <servlet-class>Addcartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewcartservlet</servlet-name>
        <servlet-class>Viewcartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editcartservlet</servlet-name>
        <servlet-class>Editcartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletecartservlet</servlet-name>
        <servlet-class>Deletecartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changeaddressservlet</servlet-name>
        <servlet-class>Changeaddressservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paymentservlet</servlet-name>
        <servlet-class>Payment.Paymentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartservlet</servlet-name>
        <servlet-class>Cartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartsessioncheck</servlet-name>
        <servlet-class>Cartsessioncheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sessioncheckservlet</servlet-name>
        <servlet-class>Sessioncheckservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Electronicservlet</servlet-name>
        <servlet-class>Electronicservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menswearservlet</servlet-name>
        <servlet-class>Menswearservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Womenswearservlet</servlet-name>
        <servlet-class>Womenswearservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminservlet</servlet-name>
        <servlet-class>Adminservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signinservlet</servlet-name>
        <url-pattern>/Signinservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupservlet</servlet-name>
        <url-pattern>/Signupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploadservlet</servlet-name>
        <url-pattern>/Uploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descservlet</servlet-name>
        <url-pattern>/Descservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcartservlet</servlet-name>
        <url-pattern>/Addcartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewcartservlet</servlet-name>
        <url-pattern>/Viewcartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editcartservlet</servlet-name>
        <url-pattern>/Editcartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletecartservlet</servlet-name>
        <url-pattern>/Deletecartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changeaddressservlet</servlet-name>
        <url-pattern>/Changeaddressservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paymentservlet</servlet-name>
        <url-pattern>/Paymentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartservlet</servlet-name>
        <url-pattern>/Cartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartsessioncheck</servlet-name>
        <url-pattern>/Cartsessioncheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sessioncheckservlet</servlet-name>
        <url-pattern>/Sessioncheckservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Electronicservlet</servlet-name>
        <url-pattern>/Electronicservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menswearservlet</servlet-name>
        <url-pattern>/Menswearservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Womenswearservlet</servlet-name>
        <url-pattern>/Womenswearservlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Adminservlet</servlet-name>
        <url-pattern>/Adminservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
